<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <title>Tinder: Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot-password.css">
</head>

<body>
<div class="reset-container">
    <header class="header">
        <a href="registration.html" class="header-link"><img src="/img/iba-login-logo.png"
                                                             alt="IBA Tech Academy"></a>
    </header>

    <section class="reset-section">
        <img class="reset-section-image" src="/img/login-img.png" alt="robot w/ computers">
        <div class="reset-section-container">
            <h6 th:text="${email}" class="reset-section-container-title"></h6>
                <span class="go-back-text">Go back to <a href="/login" class="go-back-link">Login</a></span></p>
                    <br/>
                <span class="go-back-text">Set new password</span></p>
            <form th:action="${password}" method="post" class="reset-section-container-form">
                <div class="reset-section-container-form-input-wrapper">
                    <img src="../img/mail-icon.svg" alt="User Icon">
                    <label for="email"></label>
                    <input class="reset-section-container-form-input" id="email" name="password" placeholder="Password"
                           type="password">
                </div>

                <div class="reset-section-form-buttons">
                    <input type="submit" value="Update Password" class="reset-section-container-form-login">
                    <a href="/registration" class="reset-section-container-form-signup">Create account</a>
                </div>

            </form>
        </div>
    </section>
</div>

</body>
</html>